/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF_L 0
#define NAV_L 1
#define SYM_L 2
#define NUM_L 3
#define MISC_L 4
#define DEAD_L 5
#define DEAD_UP_L 6
#define GAME_L 7

#define COMPOSE_KEY RALT

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hp: hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        swm: switch_workspace_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&sw>;
        };
        lkm: leader_key_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&sl>;
        };

        dot_col: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        com_scol: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        minus_qm: minus_question {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dead_key: dead_key {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sl DEAD_L>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mtd: media_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp C_PP>, <&kp C_NEXT>, <&kp C_PREV>;
        };
    };

    macros {
        sw: switch_workspace {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = < &macro_press &kp LGUI >
                , < &macro_param_1to1 >
                , < &macro_tap &kp MACRO_PLACEHOLDER >
                , < &macro_release &kp LGUI >
                ;
        };

        cmp_sq: compose_accents_single_quote {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp SINGLE_QUOTE >
                , < &macro_param_1to1 >
                , < &macro_tap &kp MACRO_PLACEHOLDER >
                ;
        };

        cmp_gq: compose_accents_grave_quote {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp GRAVE >
                , < &macro_param_1to1 >
                , < &macro_tap &kp MACRO_PLACEHOLDER >
                ;
        };

        cmp_car: compose_accents_caret {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp CARET >
                , < &macro_param_1to1 >
                , < &macro_tap &kp MACRO_PLACEHOLDER >
                ;
        };

        cedille: compose_cedille {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap_time 5>
                , < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp COMMA >
                , < &macro_tap &kp C >
                ;
        };

        cmp_oe: compose_oe_char {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp O >
                , < &macro_tap &kp E >
                ;
        };

        cmp_micro: compose_micro_char {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp M >
                , < &macro_tap &kp U >
                ;
        };

        cmp_i_trem: compose_i_trema {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp DOUBLE_QUOTES >
                , < &macro_tap &kp I >
                ;
        };

        cmp_trem: compose_trema {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp DOUBLE_QUOTES >
                ;
        };

        cmp_sq_u: compose_accents_single_quote_upper {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp SINGLE_QUOTE >
                , < &macro_press &kp LSHFT >
                , < &macro_param_1to1 >
                , < &macro_tap &kp MACRO_PLACEHOLDER >
                , < &macro_release &kp LSHFT >
                ;
        };

        cmp_gq_u: compose_accents_grave_quote_upper {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp GRAVE >
                , < &macro_press &kp LSHFT >
                , < &macro_param_1to1 >
                , < &macro_tap &kp MACRO_PLACEHOLDER >
                , < &macro_release &kp LSHFT >
                ;
        };

        cmp_car_u: compose_accents_caret_upper {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp CARET >
                , < &macro_press &kp LSHFT >
                , < &macro_param_1to1 >
                , < &macro_tap &kp MACRO_PLACEHOLDER >
                , < &macro_release &kp LSHFT >
                ;
        };

        cedille_u: compose_cedille_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp COMMA >
                , < &macro_press &kp LSHFT >
                , < &macro_tap &kp C >
                , < &macro_release &kp LSHFT >
                ;
        };

        cmp_oe_u: compose_oe_char_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_press &kp LSHFT >
                , < &macro_tap &kp O >
                , < &macro_tap &kp E >
                , < &macro_release &kp LSHFT >
                ;
        };

        cmp_i_trem_u: compose_i_trema_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp DOUBLE_QUOTES >
                , < &macro_press &kp LSHFT >
                , < &macro_tap &kp I >
                , < &macro_release &kp LSHFT >
                ;
        };

        cmp_med_pt: compose_mediant_point {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp DOT >
                , < &macro_tap &kp MINUS >
                ;
        };

        cmp_sus_pt: compose_suspended_point {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp COMPOSE_KEY >
                , < &macro_tap &kp DOT >
                , < &macro_tap &kp DOT >
                ;
        };

        wh_key: wh_key {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &macro_tap &kp W >
                , < &macro_tap &kp H >
                ;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_z {
            timeout-ms = <50>;
            key-positions = <0 10>;
            bindings = <&kp Z>;
        };

        combo_w {
            timeout-ms = <50>;
            key-positions = <3 13>;
            bindings = <&kp W>;
        };

        combo_k {
            timeout-ms = <50>;
            key-positions = <9 19>;
            bindings = <&kp K>;
        };

        combo_dot {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&dot_col>;
        };

        combo_col {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp COLON>;
        };

        combo_gaming_right {
            timeout-ms = <50>;
            key-positions = <7 17 24>;
            bindings = <&tog GAME_L>;
        };

        combo_gaming_left {
            timeout-ms = <50>;
            key-positions = <20 21 22>;
            bindings = <&tog GAME_L>;
        };

        combo_media_keys_left {
            timeout-ms = <50>;
            key-positions = <1 2 3>;
            bindings = <&mtd>;
        };

        combo_media_keys_right {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&mtd>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q       &kp C      &kp O      &kp P          &kp F            &kp J         &kp M       &kp D      &dead_key  &kp Y
                &hm LSHFT A &hm LGUI S &hm LALT E &hm LCTRL N    &kp B            &kp L         &hm RCTRL R &hm LALT T &hm RGUI I &hm RSHFT U
                            &kp X      &minus_qm  &kp V                                         &kp H       &kp G      &com_scol
                                              &hp LSHFT BSPC     &lt NAV_L SPACE  &lt SYM_L ESC &mo NUM_L
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
                &kp TAB        &kp HOME      &kp END       &kp LS(TAB)   &sw N6        &none          &none          &none         &none          &kp DELETE
                &swm LSHFT N1  &swm LGUI N2  &swm LALT N3  &swm LCTRL N4 &sw N5        &none          &hm RCTRL DOWN &hm LALT UP   &hm RGUI RIGHT &kp RSHFT
                               &sw N7        &sw N8        &sw N9                                     &kp LEFT       &none         &none
                                                           &hp LSHFT LC(BSPC) &trans   &lt MISC_L RET &kp LS(RET)
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
                &kp GRAVE       &kp AT_SIGN    &kp HASH       &kp DOLLAR      &kp PERCENT      &kp CARET     &kp AMPERSAND   &kp ASTERISK    &kp PIPE        &kp DOUBLE_QUOTES
                &hm LSHFT LBRC  &hm LGUI LPAR  &hm LALT RPAR  &hm LCTRL RBRC  &kp EQUAL        &kp BACKSLASH &hm LCTRL PLUS  &hm LALT MINUS  &hm LGUI SLASH  &hm LSHFT SINGLE_QUOTE
                                &kp LBKT       &kp RBKT       &kp TILDE                                      &kp TILDE       &kp LESS_THAN   &kp GREATER_THAN
                                                           &hp LSHFT LC(BSPC) &lt MISC_L SPACE &trans        &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
                &none        &none       &none       &none        &none           &none         &kp N7       &kp N8      &kp N9      &kp DELETE
                &hm LSHFT N1 &hm LGUI N2 &hm LALT N3 &hm LCTRL N4 &none           &none         &hm LCTRL N4 &hm LALT N5 &hm LGUI N6 &hm LSHFT N0
                             &none       &none       &none                                      &kp N1       &kp N2      &kp N3
                                                     &hp LSHFT BSPC &trans        &trans        &trans
            >;
        };

        misc_layer {
            display-name = "Misc";
            bindings = <
                &kp LCTRL   &none      &none        &kp C_PP       &kp C_NEXT       &kp C_PREV    &none          &msc SCRL_DOWN &msc SCRL_LEFT &msc SCRL_RIGHT
                &kp LSHFT   &mkp RCLK  &mkp MCLK    &mkp LCLK      &kp C_NEXT       &kp C_PREV    &mmv MOVE_DOWN &mmv MOVE_UP  &mmv MOVE_RIGHT &msc SCRL_UP
                            &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP                                  &mmv MOVE_LEFT &kp C_BRI_DN  &kp C_BRI_UP
                                                    &trans         &trans           &trans        &trans
            >;
        };

        dead_key_layer {
            display-name = "dead";
            bindings = <
                &cmp_car A  &cedille   &cmp_oe      &cmp_car O     &kp W            &none         &cmp_micro     &kp UNDER     &cmp_trem      &cmp_car U
                &cmp_gq A   &cmp_sq E  &cmp_gq E    &cmp_car E     &none            &kp LPAR      &kp RPAR       &cmp_car I    &cmp_i_trem    &cmp_gq U
                            &none      &none        &none                                         &cmp_sus_pt    &none         &cmp_med_pt
                                                    &mo DEAD_UP_L  &trans           &trans        &trans
            >;
        };

        upper_dead_key_layer {
            display-name = "DEAD";
            bindings = <
                &cmp_car_u A &cedille_u &cmp_oe_u    &cmp_car_u O   &kp LS(W)        &none         &cmp_micro     &kp UNDER     &cmp_trem      &cmp_car_u U
                &cmp_gq_u A  &cmp_sq_u E &cmp_gq_u E &cmp_car_u E   &none            &kp LPAR      &kp RPAR       &cmp_car_u I  &cmp_i_trem_u  &cmp_gq_u U
                             &none      &none        &none                                         &cmp_sus_pt    &none         &cmp_med_pt
                                                     &to DEF_L      &kp SPACE        &to DEF_L     &to DEF_L
            >;
        };

        gaming_layer {
            display-name = "game";
            bindings = <
                &kp LCTRL  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I     &kp O
                &kp LSHIFT &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K     &kp L
                           &kp X  &kp C  &kp V                &kp M  &kp COLON &kp DOT
                                  &kp LALT  &kp SPACE  &kp ENTER  &kp ESCAPE
            >;
        };
    };
};
